*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a {
   outline: 0;
}

html {
    // overflow-x: hidden;
    // overflow: scroll;
    height: 100%;
    // This defines what 1 rem is
    font-size: 62.5%; /* 1rem = 10px; 10px/16px = 62.5%  */
    // font-size: 87.5%; //14px/16px


    // @include respond(phone){
    //   font-size: 50%; //unncessesary the tab-port will be inherited here
    // }
    @include respond(tab-land){ //this asks is width < 1200?
      // font-size: 56.25%;
      font-size: 59.375%;   /* 1rem = 9.5px; 9.5px/16px   */
      /* 1rem = 9px; 9px/16px = 56.25%  */
    // font-size: 75%; //12px/16px
    }

    @include respond(tab-port){ //this asks is width < 900?
      // font-size: 50%;
        font-size: 60%;
      /* 1rem = 8px; 8px/16px = 50%  */
      // font-size: 62.5%; //10px/16px
    }

    @include respond(phone){ //this asks is width < 600?
      // font-size: 37.5%; /* 1rem = 6px; 6px/16px = 37.5%  */
    }

    // @include respond(phone){
    //   font-size: 30%; /* 1rem = 4.8px; 4.8px/16px = 30%  */
    // }

    @include respond(big-desktop){
      font-size: 75%; /* 1rem = 12px; 12px/16px = 75%  */
      // font-size: 100%;
      font-size: 90%;
    }
}

body {
    height: 100%;
    box-sizing: border-box;
}


.header-main {
  height: 75vh; //at every point the heinght of the element should be 95% of theviewport
  // background-image: url(../img/bg3.jpg);
  //to specify gradients we always use background-image property
  //basically two background images...one on top of the other (first gradient then the image)
  // background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/bg3.jpg);
 //  background-image: linear-gradient(
 //                  to right bottom,
 //                  rgba(126, 213, 111, 0.8),
 //                  rgba(40, 180, 133, 0.8)),
 //                  url(../img/bg3.jpg);
 //
 //  background-image: linear-gradient(80deg,
 //                  rgba(255, 255, 255, 0.7) 50%,
 //                   rgba(255, 255, 255, 0.7) 25%,
 //                   transparent 120%),
 //                   url(../img/bg3.jpg);
 //
 // background-image: linear-gradient(80deg,
 //                 rgba(255, 255, 255, 0.8) 30%,
 //                  rgba(255, 255, 255, 0.8) 55%,
 //                  transparent 100%),
 //                  url(../img/bg3.jpg);
 //
 //                  background-image: linear-gradient(80deg,
 //                                  rgba(255, 255, 255, 0.7) 0%,
 //                                   rgba(255, 255, 255, 0.7) 55%,
 //                                   transparent 80%),
 //                                   url(../img/bg3.jpg);


                                     background-image: linear-gradient(80deg,
                                                     rgba(255, 255, 255, 0.8) 0%,
                                                      rgba(255, 255, 255, 0.8) 57%,
                                                      transparent 80%),
                                                      url(../img/countryside.jpg);

                                     background-image: linear-gradient(80deg,
                                                     rgba(255, 255, 255, 0.9) 100%,
                                                      rgba(255, 255, 255, 0.9) 97%,
                                                      transparent 80%),
                                                      url(../img/countryside.jpg);

                                     background-image: linear-gradient(80deg,
                                                     rgba(255, 255, 255, 0.85) 100%,
                                                      rgba(255, 255, 255, 0.85) 97%,
                                                      transparent 80%),
                                                      url(../img/seashore.jpg);

                                     // background-image: linear-gradient(80deg,
                                     //                 rgba(255, 255, 255, 0.85) 10%,
                                     //                  rgba(255, 255, 255, 0.85) 17%,
                                     //                  transparent 80%),
                                     //                url(../images/beautiful-calm-clouds-dark-206359-min.jpg);
                                     // background-image: linear-gradient(80deg,
                                     //                 rgba(255, 255, 255, 0.85) 100%,
                                     //                  rgba(255, 255, 255, 0.85) 97%,
                                     //                  transparent 80%),
                                     //                  url(../img/countryside.jpg);

                                  //
                                  // background-image: linear-gradient(80deg,
                                  //                 rgba(0, 0, 0, 0.8) 0%,
                                  //                  rgba(0, 0, 0, 0.8) 55%,
                                  //                  transparent 80%),
                                  //                  url(../img/bg3.jpg);


    // background-image: url(../img/bg3.jpg);
  background-size: cover; //whatever the width f the viewport or the element is ...it always fill the element inside the box
  background-position: center;
  // background-position: bottom;
  // background-attachment: fixed;
  position: relative;


  .text-box {
    width: 100%;
    // width: 60rem;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
  }

  .heading-primary {
    color: #fff;
    // text-transform: uppercase;
    // text-transform: capitalize;
    // text-align: center;
    font-family: 'Cardo', serif;
    // font-weight: 700;
    // font-family: 'Lato', sans-serif;

    &-main {
        display: block;
        // font-size: 60px;
        // font-size: 20px;
        // font-weight: 400;
        // letter-spacing: 35px;
        // letter-spacing: 5px;
        // color: $color-white;
        // color: #5d6e73;
        // color: #5e6f91;
        color: #04266b;


        // color: $color-grey-dark;
         color: midnightblue;

        // font-size: 2.6rem;
        // font-size: 3rem;
        font-size: 3.6rem;
        font-weight: 500;
        // text-transform: uppercase;
        // letter-spacing: 1px;
        // word-spacing: 3px;
        // margin-bottom: 4.5rem;
        margin-bottom: 1.5rem;
        text-align: center;

        @include respond(tab-port2){
          font-size: 3.2rem;
        }

        @include respond(phone1){
          font-size: 3rem;
        }
        @include respond(phone){
          font-size: 2.8rem;
        }
        @include respond(small-phone1){
          font-size: 2.4rem;
        }
    }

    &-sub {
      display: block;
      // font-size: 20px;
      // font-weight: 700;
      // letter-spacing: 17.4px;
      font-style: italic;
      // margin-top: 3.5rem;
      margin-bottom: 3.5rem;
      // font-size: 1.9rem;
      font-size: 2.4rem;
      // font-weight: 400;
      color: midnightblue;
      color: white;
      // color: #5d6e73;
      color: #5e6f91;
      // color: wheat;
      // text-shadow: 1px 0px black;
      @include respond(tab-port2){
        font-size: 2.2rem;
      }
      @include respond(phone1){
        font-size: 2rem;
      }
      @include respond(phone){
        font-size: 1.8rem;
      }
    }

  }


}

//Center Vertically
// .container{
//   display: table;
//   height: 100%;
// }
// .element{
//   display: table-cell;
//   text-align: center;
//   vertical-align: middle;
// }

.above-the-fold {
  font-size: $default-font-size;
  background-color: #f7f7f7;
  // padding: 8rem 0;
  padding: 3% 7%;
  @include respond(phone1){
  padding-top: 0;
  padding-bottom: 0;
  }

  .row {
    .col-1-of-2 {

      @include respond(tab-port2){
        width: 100%;
      }

      @include respond(tab-port){
        width: calc( (100% - #{$gutter-horizontal}) / 2 );
      }

      @include respond(phone1){
        width: 100%;
      }

    }
  }

  .ira-photo-container {
    // text-align: right;
    // padding-right: 3%;

    text-align: right;
    padding-right: 3%;
    margin-top: 3rem;

    @include respond(big-phone1){
      margin-top: 6rem;
    }

    @include respond(tab-port2){
      text-align: center;
    }
    @include respond(tab-port){
      text-align: right;
    }

    @include respond(phone1){
      text-align: center;
    }

    .ira-image {
      // width: 40%;
      width: 60%;
      @include respond(tab-land){
      width: 75%;
      }

      @include respond(tab-port2){
      width: 40%;
      }

      @include respond(tab-port){
      width: 75%;
      }

      @include respond(big-phone1){
      width: 80%;
      }


      @include respond(phone1){
      width: 50%;
      }
    }
  }

  .ira-blockquote {
    // padding: 0 2rem;
    padding-left: 3%;
    margin-top: 7rem;

    @include respond(desktop2){
    margin-top: 3rem;
    }
    @include respond(tab-port){
    margin-top: 7rem;
    }
    @include respond(phone1){
    margin-top: 2rem;
    }

  }

  .tag {
      // line-height: 145%;
      // font-size: 1.7rem;
      // font-weight: 300;
      border-left: 3.5px solid teal;
      padding-left: 1rem;
        margin-bottom: 8rem;

        @include respond(tab-port2){
          margin-left: -1.5rem;
        }

  }

  span {
    text-decoration: underline;
  }

  .ira-quote {
    // padding: 2%;
    font-style: italic;
    // line-height: 145%;
    // font-weight: 300;
    // margin-top: 5rem;
    // margin-bottom: 5rem;
    // font-size: 1.8rem;
    position: relative;

      margin-bottom: 5rem;

    &:before {
      content: "\201C";
      font-size: 500%;
      display: block;
      position: absolute;
      // top: -5px;
      // left: -5px;
      top: -6rem;
      left: -3rem;
      color: teal;
    }

    cite {
      text-align: right;
      display: block;
      font-size: 1.6rem;
      margin-top: .5rem;
      display: none;

    }

  }

}

/* width */
::-webkit-scrollbar {
  // width: 0px;
  // width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 5px grey;
  // border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  // background: $color-teal;
  // border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  // background: $teal-color;
}
