
body {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: "Lato", sans-serif;
    // font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    // line-height: 1.6;
    color: $color-grey-dark;
    // padding: 3rem; //padding around all the body...gives it a unique look.
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    font-size: $default-font-size;
    background-color: $color-white;
}



.heading-primary1 {
    // color: $color-white;
    color: $color-teal;
    // text-transform: uppercase;

    // backface-visibility: hidden;
    // margin-bottom: 6rem;
    // text-align: right;
    line-height: 1.3;


    &--main {
        display: block;
        font-size: 1.85rem;
        font-size: 2.5rem;
        // font-weight: 400;
        // letter-spacing: 3.5rem;

        // animation-name: moveInLeft;
        // animation-duration: 1s;
        // animation-timing-function: ease-out;

        /*
        animation-delay: 3s;
        animation-iteration-count: 3;
        */
        @include respond(desktop2){ //this asks is width < 1400?
          // font-size: 1.8rem;
        }
        @include respond(desktop1){ //this asks is width < 1350?
          // font-size: 1.7rem;
        }
        @include respond(desktop){ //this asks is width < 1300?
          // font-size: 1.55rem;
        }
        @include respond(desktop){ //this asks is width < 1200?
          font-size: 2.2rem;
        }

        @include respond(tab-port1){ //this asks is width < 1300?
          font-size: 2rem;
        }
    }

    &--sub {

        // text-align: right;
        //
        //
        // display: block;
        font-size: 2.2rem;
        // margin-top: -1rem;


        // font-weight: 700;
        // letter-spacing: 1.75rem;
        // animation: moveInRight 1s ease-out;
        // float: right;
        @include respond(desktop){ //this asks is width < 1200?
          font-size: 2rem;
        }

        @include respond(tab-port1){ //this asks is width < 1300?
          font-size: 1.8rem;
        }
    }
}

.emphasize {
    font-style: italic;
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);

    // background-clip: text;
    -webkit-background-clip: text; //the background get clipped exactly where the text sits
    color: transparent;
    letter-spacing: 2px;

    transition: all .2s;

    &:hover {
      //  transform: skewY(2deg) skewX(15deg) scale(1.1);
      //  text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.heading-tertiary {
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: $default-font-size;

    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}


  // long paragraph throughout the website
p {
  // text-align: justify;
}
.orange {
  font-size: 1.6rem;
  color: #d35400;
}
