

.section-recent {
    // background-color: $color-grey-light-1;
    background-color: $color-white;
    //padding: 25rem 0;
    // margin-top: -5vh;

    &-header {
      // padding: 3rem 0 0;
      // padding: 2% 7%;
      // padding: 0 2%;
      max-width: 75rem;
      margin: 1.5rem auto;
      overflow: hidden;
      @include respond(desktop){
            margin: 1.5rem 4rem;
      }
      @include respond(tab-port){
            margin: 1.5rem auto;
      }
      @include respond(big-phone2){
            margin: 1.5rem 4rem;
      }

      .heading-five {
        margin: 0 0 2rem;
        font-size: 1.2rem;
        font-weight: 500;
        text-transform: uppercase;
      }

      .heading-one {
        position: relative;
        color: teal;
        display: inline-block;
        padding-right: 3.5rem;
        height: 4.4rem;
        line-height: 4.4rem;
        font-size: 2.8rem;
        font-weight: 800;
        margin-bottom: 1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

        &::after {
          content: '';
          display: block;
          position: absolute;
          left: 100%;
          top: 50%;
          margin-top: -1px;
          height: 2px;
          width: 110%;
          background-image: linear-gradient(90deg, rgba(0,0,0,.05) 0%,
                                                    rgba(0,0,0,.1) 100%);
          //background-image: linear-gradient(90deg, midnightblue, midnightblue);

        }
      }
    }

    &-picture {
      height: 50vh;
      background-image: url(../img/bird.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      // background-position: top;
    }

    &-content {
      // padding: 7%;
      // padding: 0 2%;
      max-width: 75rem;
      // margin: 0 auto;
      margin: 0 auto 8rem auto;
      // @include respond(desktop){
      //       margin: 0 4rem;
      // }
      // @include respond(tab-port){
      //       margin: 0 auto;
      // }
      // @include respond(big-phone2){
      //       margin: 0 4rem;
      // }

      @include respond(desktop){
            // margin: 0 4rem;
            margin: 0 4rem 6rem 4rem;
      }
      @include respond(tab-port){
              // margin: 0 auto;
              margin: 0 auto 6rem auto;
      }
      @include respond(big-phone2){
            // margin: 0 4rem;
            margin: 0 4rem 6rem 4rem;
      }


      h1 {

        @include heading-uno;

      }

      h5 {
        @include heading-five;
      }

      h6 {
        font-size: 1.8rem;
        color: teal;
      }

      p {
        text-align: justify;
        font-size: $default-font-size;
        // font-size: $default-font-size-2;
        margin-bottom: 3rem;
        // max-width: $default-para-width;
        // margin: 0 auto 3rem auto;
      }

      ul {
        font-size: $default-font-size;
        margin-left: 4rem;
        margin-top: -2rem;

        li {
          padding-bottom: 1rem;
        }

        ol {
          margin-left: 4rem;
        }
      }
    }
}






.section-house {
    // background-color: $color-grey-light-1;
    background-color: $color-white;
    //padding: 25rem 0;
    // margin-top: -5vh;


    &-header {
      // padding: 3rem 0 0;
      // padding: 2% 7%;
      // padding: 0 2%;
      max-width: 75rem;
      margin: 1.5rem auto;
      overflow: hidden;
      @include respond(desktop){
            margin: 1.5rem 4rem;
      }
      @include respond(tab-port){
            margin: 1.5rem auto;
      }
      @include respond(big-phone2){
            margin: 1.5rem 4rem;
      }

      .heading-five {
        margin: 0 0 2rem;
        font-size: 1.2rem;
        font-weight: 500;
        text-transform: uppercase;
      }

      .heading-one {
        position: relative;
        color: teal;
        display: inline-block;
        padding-right: 3.5rem;
        height: 4.4rem;
        line-height: 4.4rem;
        font-size: 2.8rem;
        font-weight: 800;
        margin-bottom: 1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

        &::after {
          content: '';
          display: block;
          position: absolute;
          left: 100%;
          top: 50%;
          margin-top: -1px;
          height: 2px;
          width: 50%;
          background-image: linear-gradient(90deg, rgba(0,0,0,.05) 0%,
                                                    rgba(0,0,0,.1) 100%);
          //background-image: linear-gradient(90deg, midnightblue, midnightblue);

        }
      }
    }

    &-picture {
      height: 50vh;
      background-image: url(../img/clear.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      // background-position: top;
    }

    &-content {
      // padding: 7%;
      // padding: 0 2%;
      max-width: 75rem;
      // margin: 0 auto;
      margin: 0 auto 8rem auto;
      @include respond(desktop){
            // margin: 0 4rem;
            margin: 0 4rem 6rem 4rem;
      }
      @include respond(tab-port){
              // margin: 0 auto;
              margin: 0 auto 6rem auto;
      }
      @include respond(big-phone2){
            // margin: 0 4rem;
            margin: 0 4rem 6rem 4rem;
      }


      h1 {

        @include heading-uno;

      }

      h5 {
      @include heading-five;
      }

      h6 {
        font-size: 1.8rem;
        color: teal;
      }

      p {
        text-align: justify;
        font-size: $default-font-size;
        margin-bottom: 3rem;
      }

      ul {
        font-size: $default-font-size;
        margin-left: 4rem;
        margin-top: -2rem;

        li {
          padding-bottom: 1rem;
        }

        ol {
          margin-left: 4rem;
        }
      }
    }
}



.section-about {
    // background-color: $color-grey-light-1;
    background-color: $color-white;
    //padding: 25rem 0;
    // margin-top: -5vh;


    &-header {
      // padding: 3rem 0 0;
      // padding: 2% 7%;
      // padding: 0 2%;
      max-width: 75rem;
      margin: 1.5rem auto;
      overflow: hidden;
      @include respond(desktop){
          margin: 1.5rem 4rem;
      }
      @include respond(tab-port){
              margin: 1.5rem auto;
      }
      @include respond(big-phone2){
            margin: 1.5rem 4rem;
      }

      .heading-five {
        margin: 0 0 2rem;
        font-size: 1.2rem;
        font-weight: 500;
        text-transform: uppercase;
      }

      .heading-one {
        position: relative;
        color: teal;
        display: inline-block;
        padding-right: 3.5rem;
        height: 4.4rem;
        line-height: 4.4rem;
        font-size: 2.8rem;
        font-weight: 800;
        margin-bottom: 1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

        &::after {
          content: '';
          display: block;
          position: absolute;
          left: 100%;
          top: 50%;
          margin-top: -1px;
          height: 2px;
          width: 300%;
          background-image: linear-gradient(90deg, rgba(0,0,0,.05) 0%,
                                                    rgba(0,0,0,.1) 100%);
          //background-image: linear-gradient(90deg, midnightblue, midnightblue);

        }
      }
    }

    &-picture {
      height: 50vh;
      background-image: url(../img/ira.jpg);
      background-repeat: no-repeat;
      // background-size: cover;
      // background-position: top;
    }

    &-content {
      // padding: 7%;
      // padding: 0 2%;
      max-width: 75rem;
      // margin: 0 auto;
      margin: 0 auto 8rem auto;
      @include respond(desktop){
            // margin: 0 4rem;
            margin: 0 4rem 6rem 4rem;
      }
      @include respond(tab-port){
              // margin: 0 auto;
              margin: 0 auto 6rem auto;
      }
      @include respond(big-phone2){
            // margin: 0 4rem;
            margin: 0 4rem 6rem 4rem;
      }

      h1 {

        @include heading-uno;

      }

      p {
        text-align: justify;
        font-size: $default-font-size;
        margin-bottom: 3rem;
      }
    }
}

.section-content {
    //height: 95vh;
   // height: 100vh;
    // height: 80vh;
    height: 80vh;
    // width: 100%;
    position: relative;

    @include respond(desktop){
      height: 75vh;
    }

    @include respond(tab-land){
      height: 75vh;
    }
    @include respond(tab-port2){
      height: 35vh;
      // height: 75vh;
        // background-position: top;
        // background-size: cover;
    }
    @include respond(tab-port1){
      height: 50vh;
    }
    // @include respond(tab-port){
    //   height: 75vh;
    // }
    // @include respond(big-phone1){
    //   height: 70vh;
    // }
    // @include respond(big-phone){
    //   height: 65vh;
    // }
    // @include respond(phone1){
    //   height: 60vh;
    // }
    @include respond(phone){
      height: 55vh;
    }

    @include respond(small-phone1){
    // height: 65vh;
    // height: 100vh;

    background-image: linear-gradient(80deg,
                    rgba(255, 255, 255, 0.9) 50%,
                     rgba(255, 255, 255, 0.9) 25%,
                     transparent 120%),
                     url(../img/ira2.jpg);
  background-position: right;
    }

    @include respond(small-phone){
    height: 65vh;
    }
    @include respond(small-screen){
    height: 90vh;
    }
    @include respond(tiny-screen2){
    height: 100vh;
    }
    @include respond(tiny-screen){
    height: 120vh;
    }

    background-image: linear-gradient(80deg,
                    rgba(255, 255, 255, 0.8) 0%,
                     rgba(255, 255, 255, 0.8) 55%,
                     transparent 80%),
                     url(../img/ira2.jpg);

     // @include respond(tab-port3){
     //   background-image: linear-gradient(80deg,
     //                   rgba(255, 255, 255, 0.8) 0%,
     //                    rgba(255, 255, 255, 0.8) 57%,
     //                    transparent 80%),
     //                    url(../img/ira2.jpg);
     // }

    // background-image: linear-gradient(80deg,
    //                 rgba(0, 0, 0, 0.8) 0%,
    //                  rgba(0, 0, 0, 0.8) 55%,
    //                  transparent 80%),
    //                  url(../img/ira2.jpg);

    background-size: cover;
    // background-position: top;
    // background-position: right;
    // background-position: center;
    // background-attachment: fixed;
    // background-size: 100%;
    // background-size: cover;

// background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/ira2.jpg);
// background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/hero-min.jpg);

        // background-image: linear-gradient(to right bottom, rgba(126,213,111,0.8), rgba(40,180,133,0.8)),url(../img/hero.jpg);
        // background-image: linear-gradient(80deg,
        //                 rgba(255, 255, 255, 0.7) 0%,
        //                  rgba(255, 255, 255, 0.7) 55%,
        //                  transparent 80%),
        //                  url(../img/ira2.jpg);


      .hero-text-box{
        position: absolute;
        // width: 104rem;
        // width: 66%;
        // top: 55%;
        // left: 30%;
        // transform: translate(-50%,-50%);
        // right: 40px;
        left: 4rem;
        top: 10rem;

        // width: 500px;
        // height: 200px;

        @include respond(tab-port1){
          left: 2.5rem;
        }
        @include respond(tab-port){
          left: 6rem;
          top: 12rem;
        }
        @include respond(big-phone1){
           left: 5rem;
           top: 10rem;
        }
        @include respond(big-phone){
           left: 4rem;
           top: 9rem;
        }
        @include respond(phone){
           left: 3rem;
           top: 9rem;
        }
        @include respond(small-phone1){
           left: 2rem;
           // width: 40rem;
           // position: absolute;;
           // top: 50%;
           // left: 30%;
           // transform: translate(-20%, -50%);
        }

       h1 {
         color: $color-white;
         color: #5d6e73;
         color: #5e6f91;
         color: #04266b;

         // color: $color-grey-dark;
          // color: midnightblue;

         font-size: 2.6rem;
         // font-size: 3.5rem;
         font-weight: 500;
         // text-transform: uppercase;
         // letter-spacing: 1px;
         // word-spacing: 3px;
         margin-bottom: 4.5rem;

         @include respond(desktop2){
           font-size: 2.3rem;
         }

         @include respond(desktop){
           font-size: 2.1rem;
         }

         @include respond(tab-land){
           font-size: 2rem;
         }
         @include respond(tab-port2){
           font-size: 1.8rem;
         }

         @include respond(tab-port){
            font-size: 2.1rem;
         }
         @include respond(big-phone){
            font-size: 1.8rem;
         }

         @include respond(phone){
              font-size: 1.65rem;
              margin-bottom: 3rem;
         }
         @include respond(small-phone1){
           // text-align: left;
           // text-transform: uppercase;
           font-weight: 400;
          font-size: 2.2rem;
          margin-bottom: 2.5rem;
                 // color: $color-white;

         }

         .tagline {
           font-weight: 350;

           // text-transform: uppercase;
         }

       }

       .tagline2 {
         font-style: italic;
         margin-top: 3.5rem;
         font-size: 1.9rem;
         // font-weight: 400;
         color: midnightblue;
         color: #5d6e73;
         color: #5e6f91;
         // color: wheat;
         // text-shadow: 1px 0px black;
         @include respond(desktop2){
           font-size: 1.8rem;
         }

         @include respond(desktop){
           font-size: 1.7rem;
         }

         @include respond(tab-port2){
           font-size: 1.6rem;
         }
         @include respond(tab-port){
            font-size: 1.7rem;
         }
         @include respond(big-phone){
            font-size: 1.6rem;
         }


         @include respond(phone){
              font-size: 1.5rem;
              margin-top: 2.5rem;
         }
         @include respond(small-phone1){
              font-size: 1.4rem;
              margin-top: 2rem;
         }
       }
     }


}

.section-workshop {
    // height: 100vh;
    padding: 7%;
    background-color: #ffffff;

    .entry-text {
        padding-bottom: 5rem;

        .heading-five {
            font-size: 1.2rem;
            font-weight: 500;
            text-transform: uppercase;
            // color: midnightblue;
            color: #5e6f91;
            margin-bottom: 0.6rem;
        }

        .heading-one {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 2rem;
            font-weight: 700;
            margin-bottom: 1rem;
            color: teal;
        }
    }

    .entry-reasons {

        .entry-reasons-container {
            margin-left: 4rem;
            position: relative;

            .icon-heart {
                position: absolute;
                width: 3rem;
                height: 3rem;
                top: -.4rem;
                left: -4rem;
                color: teal;
                font-size: 2.6rem;
                text-align: center;
            }

            .heading-four {
                font-size: 1.7rem;
                margin-bottom: 1rem;
                // color: midnightblue;
                color: #5e6f91;
            }
        }
    }

}

.section-the-method {
   // background: #edeeed url(../img/themethod.jpg) no-repeat center top;
    // height: 100vh;
    // height: 80vh;
    background-image: linear-gradient(-105deg,
                    rgba(255, 255, 255, 0.9) 0%,
                     rgba(255, 255, 255, 0.9) 50%,
                     transparent 80%),
                     url(../img/bench.jpg);
    background-size: cover;
    background-position: bottom;
      // background-attachment: fixed;

    // @include respond(small-phone){
    //   background-image: linear-gradient(-105deg,
    //                   rgba(255, 255, 255, 0.9) 100%,
    //                    rgba(255, 255, 255, 0.9) 100%,
    //                    transparent 100%),
    //                    url(../img/bench.jpg);
    // }
    @include respond(big-phone){
      // height: 70vh;

      background-image: linear-gradient(-105deg,
                      rgba(255, 255, 255, 0.9) 100%,
                       rgba(255, 255, 255, 0.9) 100%,
                       transparent 100%),
                       url(../img/bench.jpg);
    }

    .method-panel {
        padding: 9% 7%;

        @include respond(big-phone){
              // padding: 9% 9%;
              padding-left: 8rem;
        }

        .btn-text {
            margin-left: 0;

            @include respond(big-phone){
                // margin-left: 2rem;
            }
        }
    }

    .heading-five {
        font-size: 1.2rem;
        font-weight: 500;
        text-transform: uppercase;
        // color: midnightblue;
        color: #5e6f91;
        margin-bottom: .6rem;
    }

    .heading-one {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: $default-font-size;
        font-weight: 800;
        margin-bottom: 1rem;
        line-height: 1.5;
        // color: #eeeeee;
        color: teal;
    }

    .paragraph {
        color: #5d6e73;

    }

}
